html, body {
  margin: 100;
  padding: 100;
}
canvas {
  display: block;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
  font-size: 36px;
}

p {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
